// Neutrals (light base)
$color-bg: #f6f6f6;

// Neutrals (dark base)
$color-bg-dark: linear-gradient(315deg, #003153 0%, #1B1B1B 74%);

// Typography
$font-family-base: system-ui, -apple-system, "BlinkMacSystemFont", "SF Pro Text", "Segoe UI", sans-serif;
$font-family-ui: "Poppins Regular", $font-family-base;
$font-size-sm: 0.875rem;

// ===========
// THEME MAPS
// ===========

$theme-light: (
	bg: $color-bg,
);

$theme-dark: (
	bg: $color-bg-dark,
);
